.answer {
  color: #222;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 39%;
  left: 47%;
  width: 8%;
  font-size: 80%;
  font-weight: bold;
}

.ball {
  position: relative;
}
.ball img {
  width: 100%;
  max-width: 40em;
}
