.App {
  font-family: sans-serif;
  text-align: center;
}

.shake {
  animation: shake 0.5s;
}

.submitButton {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #f8f8f8;
  background-color: #f16059;
  border-radius: 5px;
  border: 3px solid #f16059;
  padding: 0.5em 1em;
  max-width: 15em;
  margin-top: 1em;
}

button:hover {
  border-color: rgb(78, 76, 76);
}

h1 {
  font-family: "Comic Sans MS", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-top: 30px;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.2em auto;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

ul {
  list-style-type: none;
}

.link {
  color: black;
  text-decoration: none;
  margin: 2px;
}

.navbar {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;

  /* At the bottom of our background stack,
     let's have a misty grey solid color */
  background-color: #e4e4d9;

  /* We stack linear gradients on top of each
     other to create our color strip effect.
     As you will notice, color gradients are
     considered to be images and can be
     manipulated as such */
  background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #b4b07f 90%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #b4b07f 92%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #c5a68e 85%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #c5a68e 89%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #ba9499 80%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #ba9499 86%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #9f8fa4 75%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #9f8fa4 83%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #74a6ae 70%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #74a6ae 80%);
}

textarea {
  border: 3px dotted black;
}
